.Sidebar_Container_Sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}
.Sidebar_Container_Sublink{
    display: flex;
    flex-direction: column;
    margin:0px 20px 0px 70px;
    align-items: center;
  
}
.Sidebar_Container_Sublink .navlink{
margin-left: 0px;
width: 100%;
}
.Sidebar_Container_Sublink .navlink:hover{
    background-color: #E4F0EB;
   
}
.Sidebar_Container_Sub1{
    display: flex;
    flex-direction: row;
    padding-left: 2.5rem/* 40px */;
    padding-right: 2.5rem/* 40px */;
    height: 3rem;
    gap: 10px;
    align-items: center;
    border-radius: 0.25rem;
}
.Sidebar_Container_Sub1 .transform {
    transition: transform 0.25s ease-in-out;
  }
  

.Sidebar_Container_Sub2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 0.5rem;
}
.Sidebar_Container_Sub:hover {
    color: #2e8362;
}

.active {
    background-color: #E4F0EB;
    color: #2e8362;
}

.toggle_button{

    font-size: 1.25rem;
    line-height: 1.75rem;
    position: absolute;
    left: 5px;
    margin: 0.5rem;
    top: 0;
}